:root {
--c-primary:#2E2F42;
--c-text:#434455;
--c-primary-brand:#4D5AE5;
--c-background:#FFF;
--c-pressed-state:#404BBF;
--c-text-light:#F4F4FD;
--c-light-slate:#8E8F99;
--c-footer-pressed-state: #31D0AA;
--c-dairy: #FCFCFC;
--c-cornflower: #E7E9FC;
}
body {
   font-family: 'Roboto', sans-serif;
   color: var(--c-text); 
   background-color: var(--c-background);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.section {
    padding: 120px 0;
}
 .container {
     max-width: 320px;
     padding-left: 16px;
     padding-right: 16px;
     margin-left: auto;
     margin-right: auto;
 }
/* .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
} */
.header-section {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);;
}
.header-inner {
    /* display: flex; */
    gap: 24px;
    align-items: center;
    justify-content: space-between;  
}
.address-menu {
    display: flex;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
 @media only screen and (max-width: 767.98px) {
     .header-nav {
       padding: 16px; 
     }
    }
.header-menu-button {
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    margin-left: auto;
    display: flex;
    border: none;
    background-color: transparent;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    color: var(--c-primary-brand);
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }
.logo-accent {
    color: var(--c-primary);
   }
.nav-list {
    color: var(--c-pressed-state);
    display: flex;
    gap: 40px;
    flex-grow: 1;
    align-items: center;   
   }
 @media only screen and (max-width: 767.98px) {
    .nav-list {
        display: none;
    }
    }
   .nav-link {
    /* display: inline-block;
    padding: 24px 0; */
       color: var(--c-primary);
       font-size: 16px;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.02em;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .current {
    color: #404BBF;
    position: relative;
   }
   .nav-link.current::after {
       content:"";
       position: absolute;
       display: block;
       width: 100%;
       left: 0;
       bottom: -1px;
       height: 4px;
       background-color: var(--c-pressed-state);
       border-radius: 2px;
       color: var(--c-pressed-state);
   }
.nav-link:active {
       color: var(--c-primary-brand);
   }
.nav-link:hover, 
.nav-link:focus {
       color: var(--c-pressed-state);
   }

.address {
    margin-left: auto;
    font-style: normal;
   }
.address-list {
    display: flex;
    gap: 12px;
}
 @media only screen and (max-width: 767.98px) {
    .address-list {
     display: none;
     }
    }
.address-link {
    display: inline-block;
    /* padding: 24px 0; */
    color: var(--c-text);
    font-size: 12px;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}
.address-link:active {
    color: var(--c-primary-brand);
}
.address-link:hover {
    color: var(--c-pressed-state);
}
.address-link:focus {
    color: var(--c-pressed-state);
}
.hero-section {
    /* padding: 188px 0; */
    padding: 72px 16px;
    background-color: var(--c-primary);
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/1mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/1mob@2x.jpg);
    }
}
 @media only screen and (max-width: 767.98px) {
     .hero-section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/1tab.jpg);
     }
 }
  @media screen and (min-width: 767.98px) and (min-resolution: 192dpi) {
      .hero-section {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/1tab@2x.jpg);
      }
  }
  @media only screen and (max-width: 1158px) {
      .hero-section {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
      }
  }

  @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office@2x.jpg);
      }
  }

.hero-title {
    color: var(--c-background);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 72px;
}
.hero-button {
    display: block;
    color: var(--c-background);
    background-color: var(--c-primary-brand); 
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-button:hover {
    color: var(--c-background);
    background-color: var(--c-pressed-state);
}
.hero-button:focus {
    background-color: var(--c-pressed-state);
}
.feature-section {
    background-color: var(--c-background);
    padding: 120px 0;
}
.feature-item {
    background-color: var(--c-background);
    display: flex;
    flex-wrap: wrap;
    gap: 72px;   
}
.feature-list {
    flex-basis: 100%;
/* flex-basis: calc((100% - 3 * 24px) / 4); */
}
.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid var(--c-light-slate);
    border-radius:4px;
    background-color:var(--c-text-light);
    /* padding: 24px 100px; */
    margin-bottom: 8px;
}
@media only screen and (min-width: 320px) {
    .feature-icon {
        display: none;
    }
}
.list-title { 
    display: flex;
    background-color: var(--c-background);
    color: var(--c-primary);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;  
}
.list-text {
    color: var(--c-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
    background-color: var(--c-text-light);
    padding: 120px 0;}

 /* @media screen and (max-width: 768px) {
    .team-section .container {
     width: 584px;
    }
    } */
.team-header {
    color: var(--c-primary);
    background-color: var(--c-text-light);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.team-member {
    background-color: var(--c-background);
    width: 100%;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.team-info {
    display: flex;
    padding: 32px 0;
    flex-direction: column;
    align-items: center;
}
.team-title {
    color: var(--c-primary);
    background-color: var(--c-background);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.team-text {
    color: var(--c-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-media-item {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-media-list {
    width: 40px;
    height: 40px;
}
.team-media-socials {
    display: flex;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 100%;
   background-color: var(--c-primary-brand);
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-media-socials:hover,
.team-media-socials:focus {
    background-color: var(--c-pressed-state);
}
.team-media-icon {
    fill: var(--c-text-light);
}
.portfolio-header {
    color: var(--c-primary);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list{
    background-color: var(--c-background);
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 48px; */
}
.portfolio-item {
    flex-basis: 100%;
/* flex-basis: calc((100% - 2 * 24px)/3); */
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
        transform: translateY(0%);
}
.portfolio-image {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-text-light);
    padding: 40px 32px;
    background-color: var(--c-primary-brand);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}
.portfolio-info {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--c-cornflower);
    border-top: none;
    }
.portfolio-title {
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text {
    color: var(--c-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-section {
    background-color: var(--c-primary);
    padding: 100px 0;
}
/* @media only screen and (min-width: 767.98px) {
    .footer-section .container{
        width: 584px;
    }
} */
.footer-inner {
    display: block;
    text-align: center;
}
.footer-logo-conteiner {
    /* margin-right: 120px; */
    margin-bottom: 72px;
}
.logo-footer {
    display: inline-block;
    color: var(--c-primary-brand);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.logo-footer-accent {
    color: var(--c-text-light);
}
.footer-text {
    text-align: start;
    max-width: 264px;
    color: var(--c-text-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-media-title {
    color: var(--c-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;   
}
.footer-media-item {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}
.footer-media-list {
    width: 40px;
    height: 40px;
}
.footer-media-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--c-primary-brand);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media-socials:hover,
.footer-media-socials:focus {
    background-color: var(--c-footer-pressed-state);
}
.footer-media-icon {
    fill: var(--c-text-light);
}
.footer-form-title {
    margin-bottom: 16px;
    color: var(--c-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
.footer-form {
    display: block;
    text-align: center;
}
/* @media screen and (min-width: 1158px) {
.footer-form {
    display: flex;
    align-items: baseline;
    }
} */
.footer-modal-form {
    /* margin-left: 80px; */
}
.modal-footer-form {
    /* display: flex;
    gap: 24px; */
}
.footer-form-input {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid var(--c-background);
    /* color: var(--c-background); */
    opacity: 0.3;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px; 
}
:placeholder {
    color: var(--c-background);
}
.footer-form-button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 16px;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--c-background);
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: var(--c-primary-brand);
}
.modal-footer-icon {
    margin-left: 16px;
    color: var(--c-background);
}


.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    /* top: 0;
    left: 0; */
    inset: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 1; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .menu-container.is-open {
    transform: translateX(0);
} */

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 288px;
    width: 100%;
    overflow-y: auto;
    background-color: var(--c-dairy);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--c-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    fill: var(--c-primary);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #FFF
}
.modal-title {
    color: var(--c-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.modal-field {
margin-bottom: 8px;
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    color: var(--c-light-slate);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    outline: none;
    border-color: var(--c-primary-brand);
}
.modal-input-wrap {
    position: relative;
    
}
.modal-input-icon {
    position: absolute;
    fill: var(--c-primary);
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
    fill: var(--c-primary-brand);
}
.modal-textarea-field {
    margin-bottom: 16px;
}
.modal-textarea {
    min-height: 120px;
    resize: none;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .modal-textarea:focus {
    outline: none;
    border-color: var(--c-primary-brand);
 }
.modal-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    max-height: 56px;
    background-color: var(--c-primary-brand);
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    color: var(--c-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-title {
    color: var(--c-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.modal-checkbox {
    margin-bottom: 24px;
}
.checkbox-input:checked+.modal-checkbox-label>.modal-span {
    background-color: var(--c-pressed-state);
    border: none;
    fill: var(--c-background);
}
.checkbox-input:checked+.modal-checkbox-label>.modal-span .modal-span-icon {
    opacity: 1;
}
.modal-checkbox-label {
    color: var(--c-light-slate);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.modal-span-icon {
    stroke: transparent
}
.link-policy {
    color: var(--c-primary-brand);
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
/* Mobile menu */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 72PX 16PX 40PX;
    width: 100%;
    height: 100%;
    background-color: var(--c-background);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
    transform: translateX(0);
}
.mobile-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--c-cornflower);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu-icon {
    fill: var(--c-primary);
}
.mobile-menu-list {
    margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--c-text);
        text-transform: capitalize;
}
.mobile-menu-link.current {
    color: var(--c-primary-brand);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-contacts-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--c-text);
}
.mobile-contacts-link.accent {
    color: var(--c-primary-brand);
}
.mobile-socials {
    display: flex;
    align-items: center;
    gap: 40px;
}
.mobile-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--c-primary-brand);
}
.mobile-socials-icon {
    fill: var(--c-text-light);
}


                   /* Tablet */

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
 }
 .team-section .container {
    width: 584px;
 }
 .footer-section .container {
    width: 584px;
 }
 .header-inner {
     display: flex;
     gap: 24px;
 }
.logo {
    margin-right: 120px;
}
.nav-link {
    display: inline-block;
    padding: 24px 0;
   }
.address-link {
    display: inline-block;
    /* margin-top: 0;
    margin-bottom: 12px; */
    }
 /* .address-link:not(:last-child) {
    margin-top: 0;
    margin-bottom: 12px;
 } */
  .address-list {
    display: block;
  }
 .header-menu-button {
    display: none;
 }
  .hero-section {
      padding: 112px 0;
  }

.hero-title {
    margin-bottom: 36px;
    }
.feature-item {
        gap: 72px 24px;
    }
.feature-list {
        flex-basis: calc((100% - 24px) / 2);
    }
 .feature-icon {
        display: none;
     }
.team-list{
        gap: 62px 24px;
    }
.team-member {
        flex-basis: calc((100% - 24px) / 2);
    }
 .portfolio-list {
        gap: 24px;
    }
.portfolio-item {
        flex-basis: calc((100% - 24px)/2)
    }
 .footer-inner  {
    display: flex;
    align-items:baseline;
    flex-wrap: wrap;
    }
.footer-form {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
        }
.footer-logo-conteiner {
    /* margin-left: 108px; */
    margin-right: 24px;
    margin-bottom: 72px;
    }
.footer-logo {
    display: flex;
}
.footer-form-title {
    display: flex;
}
.footer-form-button {
    margin-top: 0;
     }
.logo-footer {
    display: flex;
}

.footer-text {
  display: block;
  text-align: start;
}
.footer-media-title {
    display: flex;
     }
.footer-media-item {
    display: flex;
    gap: 16px;
}

.modal {
    max-width: 408px;
    width: 100%;
}
.footer-modal-form {
    /* margin-left: 108px; */
}
.modal-footer-form {
    display: flex;
    gap: 24px;
} 
.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

}

                            /* desktop */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }  
    .team-section .container {
        width: 100%
        }
    .footer-section .container {
        width: 100%
    }
    .header-inner {
    display: flex;
    gap: 24px;
        }
    .address-list {
        display: flex;
        gap: 40px;
        }
    .nav-link {
    display: inline-block;
    padding: 24px 0;
    }
    .header-menu-button {
         display: none;
    }
    .hero-section {
     padding: 188px 0;
    }
    .hero-title {
     margin-bottom: 48px;
        }
  .address-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
.feature-item {
        gap: 24px;
    }
.feature-list {
    flex-basis: calc((100% - 72px) / 4);
    }
.feature-icon {
    display: flex;
    }
.list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
.list-text {
    font-weight: 400;
}
.team-list {
    gap: 24px;
    }
.team-member {
    flex-basis: calc((100% - 72px) / 4);
         }
.portfolio-list {
    gap: 24px;
    }
.portfolio-item {
    flex-basis: calc((100% - 48px)/3)
}
 .footer-inner {
     display: flex;
     align-items: baseline;
 }

 .footer-form {
     display: flex;
     align-items: baseline;
 }
.footer-logo-conteiner {
    margin-right: 120px;
    margin-left: 0;
    margin-bottom: 0;
}
.footer-media-item {
    display: flex;
    gap: 16px;
    margin-bottom: 0;
}
.footer-modal-form {
 margin-left: 80px;
}

.modal-footer-form {
    display: flex;
    gap: 24px;
}
.footer-form-input {
    border-color: var(--c-background);
    opacity: 1;
}
.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    max-width: 408px;
    width: 100%;
}
}